.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.greets {
  margin-top: 15%;
  padding-left: 30%;
}
@media(max-width:768px){
  .greets{
    margin-top: 25%;
    padding-left: 5%;
  }
}
.providers{
  margin-left: 2%;
  border: 1px solid; 
  width: 30%;
  border-radius: 3px;
}

.MuiGrid-root css-vj1n65-MuiGrid-root{
  width: 3%;
}

.dashboardNotMobile {
  margin-left: 20%;
  margin-right: 5%;
  margin-top: 7%;
}
 @media (max-width : 1300px){
  .dashboardNotMobile{
    margin-left: 27%;
    margin-right: 5%;
    margin-top: 7%;
  }
 }
 @media (max-width : 1100px){
  .dashboardNotMobile{
    margin-left: 32%;
    margin-right: 5%;
    margin-top: 7%;
  }
 }
 @media (max-width : 800px){
  .dashboardNotMobile{
    margin-left: 40%;
    margin-right: 5%;
    margin-top: 15%;
  }
 }

@media (max-width:600px){
  .dashboardNotMobile{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 15%;
  }
}
.homepageButtons{
  padding-left: 15%;
}
@media(max-width: 768px){
  .homepageButtons{
    padding-left: 30px;
  }
}
.buttonHP{
  width: 30%;
}
@media(max-width :768px){
  .buttonHP{
    width: 75%;
  }
}

.loginBox{
  margin-left: 40%;
}

@media (max-width : 768px){
  .loginBox{
    margin-left: 15%;
  }
}

.loginTextField{
  width: 30%;
}
@media (max-width:768px) {
  .loginTextField{
    width: 75%;
  }
}

.loginButton{
  width: 30%;
}
@media (max-width:768px){
  .loginButton{
    width: 75%;
  }
}

.registerBox{
  margin-left: 40%;
}
@media (max-width:768px){
  .registerBox{
    margin-left: 15%;
  }
}

.registerTextField{
  width: 35%;
}
@media (max-width:768px){
  .registerTextField{
    width: 60%;
  }
}

.registerButton{
  width: 30%;
}

@media (max-width: 768px){
  .registerButton{
    width: 75%;
  }
}

.resetpassBox{
  margin-left: 30%;
}
@media ( max-width: 768px){
  .resetpassBox{
    margin-top: 50%;
    margin-left: 15%;
  }
}

.resetpassTextField{
  width: 30%;
}

@media (max-width:768px){
  .resetpassTextField{
    width: 75%;
  }
}
.resetButton{
  width: 30%;
}

@media (max-width:768px){
  .resetButton{
    width: 75%;
  }
}

.appointmentBox{
  padding-left: 35%;
}

@media (max-width:768px){
  .appointmentBox{
    padding-left: 15%;
  }
}

.appointmentTextField{
  width: 40%;
}
@media (max-width:768px){
  .appointmentTextField{
    width: 75%;
  }
}

.appointmentButton{
  width: 25%;
}
@media (max-width:768px){
  .appointmentButton{
    width: 75%;
  }
}

.userDetailCard {
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 15%;
  margin-left: 5%;
  width: 90%;
}

.userDetailAvatar{
  margin: 5%;
  margin-left: 85%;
}

.editSelectField{
  width: 30%;
  margin: 25%;
}

@media (max-width : 768px){
  .editSelectField{
    width: 100%;
  }
}

.serviceGrid{
  margin-bottom: 2%;
}

.addServiceButtonBox {
  margin: 5%;
}

.addServiceButton{
  margin: 5%;
  width: 30%;
}
@media (max-width : 768px){
  .addServiceButton{
    margin: 5%;
    width: 85%;
  }
}
.serviceDetailBox{
  width: 80%;
  margin-left: 5%;
}
@media (max-width : 768px){
  .serviceDetailBox{
    width: auto;
    margin: 0px;
  }
}

.serviceDetailCard{
  padding-left: 5%;
  padding-bottom: 5%;
}
@media (max-width : 768px){
  .serviceDetailCard{
    padding-left: 5%;
    padding-bottom: 10%;
  }
}

.serviceEditSaveButton{
  width: 25%;
  margin-left: 60%;
}

@media (max-width : 768px){
  .serviceEditSaveButton{
    width: 80%;
    margin: 30%;
  }
}
.date{
  font-size: 28px;
  color: black;
}
.clock{
  font-size: 20px;
  color: black;
}

.adminAppointmentDetailCard{
  padding-top: 5%;
  padding-left: 25%;
  padding-right: 15%;
  padding-bottom: 15%;
  margin-left: 5%;
  width: 90%;
}

@media (max-width : 768px){
  .adminAppointmentDetailCard{
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 15%;
    margin-left: 5%;
    width: 90%;
  }
}
.addAppointmentButton{
  margin:1px;
}

@media (max-width : 768px){
  .addAppointmentButton{
    margin: 10%;
  }
}

.itemStyles{
  padding: 5%;
  text-align: center;
  margin-top: 2%;
}
.adminProfileCard{
  padding-left: 10%;
  padding-bottom: 5% ;
}
@media (max-width:768px){
  .adminProfileCard{
    padding-left: 10%;
    margin-bottom: 0px;
  }
}
.adminProfilePerson{
  margin-left: 75%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.settingButtons{
  margin-left: 75%;
}
@media (max-width:768px){
  .settingButtons{
    margin-left: 15%;
  }
}